@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Great+Vibes&display=swap');

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p,a {
    font-family: 'Poppins', sans-serif;
}

.cursiva{
    font-family: 'Great Vibes';
}

.menu-link{
    text-decoration: none;
    padding-left:7%;
    color: #161616;
    font-size: 1.5em;
}

.menu-link:hover{
    text-decoration: underline;
}

.carousel-status{
    display: none!important;
}

.hero-title{
    font-size: 2.8em;
    color: #1c1c1c;
}

.hero-subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: $orange;
    text-transform: uppercase;
}

.hero-button{
    background-color: $orange;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
}

.hero-button:hover{
    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
}

.chef-name{
    font-size: 3.0em;
    color: $orange;
}

.chef-title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #161616;
    font-weight: bolder;
}

.vertical-align{
    margin-top: auto;
    margin-bottom: auto;
}

.category{
    background-color: orange;
}

.language-switcher{
    position: fixed;
    margin-left: 10px;
    z-index: 1;
    top: 40%;
    img{
        width: 65px;
        margin-top: 3px;
    }
     img:hover{
        cursor: pointer;
        opacity: 0.8;
    } 
}

.swal2-html-container{
    font-family: 'Poppins', sans-serif;
}