/* body{
    padding: 0;
    margin: 0;

} */

body{
    padding: 0;
    margin: 0;
    background:url('/images/background.png') no-repeat fixed;
    background-size:100% 100%;
    background-size:cover;
    min-height: 100%;
    min-height: 100vh;
}


/* body{
    width: 100%;
    height: 100vh;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
} */

header{
    /* background-color: $light-green; */
    min-height:90px;

}

.ham-icon{
    width:45px;
    float: right;
    padding-top: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 415px) {
    body{
        background-image: url('/images/background-mobile.png');
    }
  }

  @media only screen and (max-width: 575px) and (min-width: 416px) {
    body{
        background-image: url('/images/background-576.png');
    }
  }


  @media only screen and (max-width: 1024px) and (min-width: 576px) {
    body{
        background-image: url('/images/background-tablet.png');
    }
  }


@media only screen and (max-width: 991px) {
    .ordenador{
        display: none;
    }
    .mobile{
        display: block;
    }
  }
  @media only screen and (min-width: 992px) {
    .ordenador{
        display: block;
    }
    .mobile{
        display: none;
    }
  }

.menu{
    padding-top: 36px;
}

.swiper-container{
    margin-top: 25px;
    img{
        width:100%;
    }
}

.form-container{
    background-color: $light-grey;
    padding: 3%;
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.75);
    margin-bottom: 25px;
}

.input-form{
    background-color: $light-grey;
    border-color: rgb(202, 200, 200);
    border-width: 0px 0px 1px;
    border-radius: 0px;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu{
    &-container{
        border-bottom: 1px solid#ababab;
        background-color: $light-grey;
        padding: 3%;
    }
    &-img-container{
        margin-top: auto;
        margin-bottom: auto;
    }
    &-img{
        width: 100%;
        border-radius: 50%;
        max-width: 160px;
    }
    &-name{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4em;
        margin: 0;
    }
    &-description{
        font-family: Poppins, sans-serif;
        font-size: 1.0em;
        text-transform: uppercase;
        color: $dark-grey;
    }
    &-price-container{
        margin-top: auto;
        margin-bottom: auto;
    }
    &-price{
        font-size: 1.5em;
        color: $red;
    }
}